<div class="container">
   <div class="row detail">
       <div class="col-md-5" *ngIf="product">
           <div class="img ">
               <img [src]="product.ThumbailUrl" alt="">
               <p [style.color]="setClass(color)"> <fa-icon icon="check-circle"></fa-icon></p>
           </div>
           
            <ul class="img-list" >
                <li *ngFor="let color of colorList"><p [ngClass]="{'active': color.isActive}" class="{{color.name}}" (click)="setColor(color.id)"></p></li>
            </ul>
          
       </div>
       <div class="col-md-7" *ngIf="product">
           <h3 class="title">{{ product.Name}}</h3>
           
           <div class="review">
                <div class="rating">
                    <p class="pr-2">4.8</p>
                    <ngb-rating ([rate])="3"  [max]="5">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                </div>
                <div> <p class="pr-2">8.2k <span>Đánh Giá</span></p></div>
                <div> <p class="pr-2">20.2k <span>Đã Bán</span></p></div>
           </div>
           <div class="price">
                <h6 class="discount">${{ product.OriginalPrice}}</h6>
                <h3 class="current">${{ product.Price}}</h3>
                <div class="percent"><p>27% GIẢM</p></div>
           </div>
           
           <div class="amount">
            <div><p>Số Lượng</p></div>
            <div class="btn-group">
                <button class="btn" (click)="decrease()">-</button>
                <button class="btn">{{ qualities }}</button>
                <button class="btn" (click)="increase()">+</button>
            </div>
            <div class="d-flex "> 258 Sản Phẩm Có Sẵn</div>
           </div>
           <div class="add-cart">
                <button class="btn mr-5" (click)="addToCart()"><fa-icon icon="cart-plus"></fa-icon> Thêm Vào Giỏ Hàng</button>
                <button class="btn buy-now">Mua Hàng Ngay</button>
           </div>
       </div>
       <div [ngClass]="{notification: isAddToCart}" *ngIf="isAddToCart">
        <p>Đã Thêm Vào Giỏ Hàng</p>
        </div>
   </div>
   
   
  
</div>
