
<div class="line"></div>
<div class="container footer">
    <div class="row">
    <div class="menu ">       
        <ul>
            <p class="title">CHĂM SÓC KHÁCH HÀNG</p>
            <li><a>Trung Tâm Trợ Giúp</a></li>
            <li><a>Shoppe Mall</a></li>
            <li><a>Hướng Dẫn Mua Hàng</a></li>           
        </ul>
    </div>
    <div class="menu">        
        <ul>
            <p class="title">VỀ SHOPEE</p>
            <li><a>Giới Thiệu Về Shopee Việt Nam</a></li>
            <li><a>Chăm Sóc Khách Hàng</a></li>
            <li><a>Flash Sales</a></li>
            <li><a>Shoppe Mall</a></li>
            <li><a>Liên Hệ Với Truyền Thông</a></li>
            <li><a>Hướng Dẫn Bán Hàng</a></li>
        </ul>
    </div>
    <div class="menu">
        
        <ul>
            <p class="title">THANH TOÁN</p>
            <li><a><img src="assets/images/pay.PNG" alt=""></a></li>
            <p class="title my-3">ĐƠN VỊ VẬN CHUYỂN</p>
            <li><a><img src="assets/images/express.PNG" alt=""></a></li>
        </ul>
    </div>
    <div class="menu ">       
        
        <ul>
            <p class="title">THEO DÕI CHÚNG TÔI </p>
            <li><a ><fa-icon [icon]="['fab', 'facebook']" class="mr-3"></fa-icon>Facebook</a></li>
            <li><a ><fa-icon [icon]="['fab', 'instagram']"  class="mr-3"></fa-icon>Instagram</a></li>
            <li><a ><fa-icon [icon]="['fab', 'linkedin']"  class="mr-3"></fa-icon>LinkedIn</a></li>
        </ul>
    </div>
    <div class="menu "> 
        <ul>
            <p class="title">TẢI ỨNG DỤNG</p>
            <li><a ><img src="assets/images/code.PNG" alt=""></a></li>
        
        </ul>
    </div>
    </div>
</div>


  
