.category {
    ul, li {
        list-style: none;
    }
    .category-link {
        padding: .5rem 0;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
    
}
.red {
    color: red;
}